{% load bootstrap3 %}
{% load grain_extras %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <th>Dish</th>
            <th>Closed</th>
            <th>Open</th>
            <th>Ingredients</th>
        </thead>
        <tbody>
            {% for dish in dishes %}
            <tr>
                <td>{{ dish }}</td>
                <td>{{ dish.cost_closed }}</td>
                <td>{{ dish.cost_open }}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Add</button>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Add Ingredient</h4>
                                </div>
                                <form action="{% url 'grain:ticket_create' %}" method="post">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        {% ingredient_form_bootstrap request dish %}
                                    </div>
                                    <div class="modal-footer">
                                        {% buttons %}
                                        <button type="submit" class="btn btn-primary">Add ingredient</button>
                                        {% endbuttons %}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
