<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <th>Dish</th>
            <th>Closed</th>
            <th>Open</th>
            <th>Ingredients</th>
        </thead>
        <tbody>
            {% for dish in dishes %}
            <tr>
                <td>{{ dish }}</td>
                <td>{{ dish.cost_closed }}</td>
                <td>{{ dish.cost_open }}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
