<div class="cal-cell1 cal-cell" data-cal-row="-day{{ cell.day_of_week }}">
    <div class="cal-month-day {% if cell.inmonth %}cal-day-inmonth{% else %}cal-day-outmonth{% endif %}{% if cell.today %} cal-day-today{% endif %}{% if cell.date.weekday >= 5 %} cal-day-weekend{% endif %}">
        <span class="pull-right" data-cal-date="{{ cell.date|date:"Y-m-d" }}" data-cal-view="day" data-toggle="tooltip" title data-original-title>{{ cell.date|date:"j" }}</span>
        <div class="day-content">
            {% for meal in cell.meals %}
            {{ meal.get_meal_type_display }}<br>
            {% endfor %}
        </div>
    </div>
</div>
