<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Nicholas Sim">
    <title>{% block title %}Grain{% endblock title %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <style>
    body {
        padding-top: 65px;
    }
    </style>
    {% block scripts %}{% endblock scripts %}
</head>
<body>
    <div class="container" role="main">
        {% include 'grain/nav.html' %}
        <div class="row">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</body>
</html>
