{% extends "grain/base.html" %}
{% load grain_extras %}

{% block content %}
<h1>Consumers <small>{% get_profile_name request.session.grain_active_user_profile %}</small> <a class="btn btn-primary" href="{% url 'grain:consumer_create' %}" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</a></h1>

<div class="col-md-4">
  <ul>
    {% for object in object_list %}
    <li><a href="{% url 'grain:consumer_detail' object.pk %}">{{ object }}</a></li>
    {% empty %}
    <li><em>Sorry, no consumers</em></li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
