{% extends "grain/base.html" %}
{% load bootstrap3 %}
{% load grain_extras %}

{% block content %}
<h1>{{ object.get_meal_type_display }} <small><a href="{% url 'grain:meal_day' object.time.year object.time.month object.time.day %}">{{ object.time|date:"jS F Y" }}</a></small></h1>
<a href="{% url 'grain:calendar' object.time.year object.time.month %}" role="button" class="btn btn-link">&laquo; Calendar</a>
<a href="{% url 'grain:meal_delete' object.pk %}" role="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</a>

<div class="row">
  <div class="col-md-4">
    <h3>Details</h3>
    <p>Consumer: {% if meal.consumer %}<a href="{% url 'grain:consumer_detail' meal.consumer.pk %}">{{ meal.consumer }}</a>{% endif %}</p>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Costs ({{ costs.0 }})</h3>
      </div>
      <div class="panel-body">
        {% if costs.0 %}
        <p>
          <span><em>confirmed</em> {{ object.cost_closed }}</span>
          <span class="pull-right"><em>may reduce</em> {{ object.cost_open }}</span>
        </p>
        <div class="progress" style="height: 1em;">
          <div class="progress-bar progress-bar-success" style="width: {{ costs.1 }}%;"></div>
          <div class="progress-bar progress-bar-danger" style="width: {{ costs.2 }}%;"></div>
        </div>
        {% else %}
        <p>-</p>
        {% endif %}
      </div>
    </div>
    <h2>Add dish</h2>
    <form method="post" action="{% url 'grain:dish_create' %}">
      {% csrf_token %}
      {% bootstrap_form dish_form %}
      {% buttons %}
      <div class="btn-group" role="group">
        {% for choice in choices %}
        <button type="submit" class="btn btn-default" name="_choice_{{ choice.0 }}">{{ choice.1 }}</button>
        {% endfor %}
      </div>
      {% endbuttons %}
    </form>
  </div>
  <div class="col-md-8">
    <h2>Dishes</h2>
    {% dish_list request object %}
  </div>
</div>
{% endblock content %}
