{% extends "grain/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load grain_extras %}

{% block scripts %}
<link href="{% static 'bootstrap-calendar/calendar.css' %}" rel="stylesheet">
{% endblock scripts %}

{% block title %}Grain: Calendar{% endblock title %}

{% block content %}
<h1>Calendar</h1>

<div class="row">
    {% calendar month object_list %}
    <div class="col-md-3">
        <h3>Side column</h3>
        <p>Some filler text here: this will be the meal add form, as expected</p>
    </div>
</div>

<ul>
    {% for meal in object_list %}
        <li>{{ meal.time|date:"F j, Y" }}: {{ meal }}</li>
    {% endfor %}
</ul>

<p>
    {% if previous_month %}
        Previous Month: {{ previous_month|date:"F Y" }}
    {% endif %}
    {% if next_month %}
        Next Month: {{ next_month|date:"F Y" }}
    {% endif %}
</p>
{% endblock content %}
