{% extends "grain/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load grain_extras %}

{% block scripts %}
<link href="{% static 'bootstrap-calendar/calendar.css' %}" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css" rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<script>
$(document).ready(function() {
  $('.datepicker').datepicker({
    format: 'yyyy-mm-dd',
    weekStart: 1,
    autoclose: true,
    disableTouchKeyboard: true,
    todayHighlight: true,
  });
});
</script>
{% endblock scripts %}

{% block title %}Grain: Calendar{% endblock title %}

{% block content %}
<h1>Calendar</h1>
{% if full %}
<a href="{% url 'grain:calendar' month.year month.month %}" role="button" class="btn btn-link">Own meals only</a>
{% else %}
<a href="{% url 'grain:calendar_all' month.year month.month %}" role="button" class="btn btn-link">All profile meals</a>
{% endif %}

<div class="row">
  <div class="col-md-2">
    <h3>Add Meal</h3>
    <form method="post" action="{% url 'grain:meal_create' %}">
      {% csrf_token %}
      {% bootstrap_form meal_form %}
      {% buttons %}
      <button type="submit" class="btn btn-primary">Add</button>
      {% endbuttons %}
    </form>
    <hr>
    <div class="well" style="font-size: 0.85em; color: #555;">
      <h4>Note</h4>
      {% if full %}
      <p>You are viewing meals listed on the selected profile, <em>regardless of consumer</em>.</p>
      <p>To view all your meals in {{ profile.currency }}, click <strong>Own meals only</strong> above.</p>
      {% else %}
      <p>You are viewing <em>all meals you consumed</em> denominated in the profile currency, {{ profile.currency }}.</p>
      <p>To view only profile meals, click <strong>All profile meals</strong> above.</p>
      {% endif %}
    </div>
  </div>
  <div class="col-md-10">
    <h3>{{ month|date:"F Y" }}
      <span class="pull-right">
        <div class="btn-group" role="group">
          {% if previous_month %}
          <a href="{% url link previous_month.year previous_month.month %}" role="button" class="btn btn-default">&laquo; {{ previous_month|date:"N" }}</a>
          {% endif %}
          {% if next_month %}
          <a href="{% url link next_month.year next_month.month %}" role="button" class="btn btn-default">{{ next_month|date:"N" }} &raquo;</a>
          {% endif %}
        </div>
      </span>
    </h3>
    {% calendar month object_list %}
  </div>
</div>
{% endblock content %}
