{% extends "grain/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load grain_extras %}

{% block scripts %}
<link href="{% static 'bootstrap-calendar/calendar.css' %}" rel="stylesheet">
{% endblock scripts %}

{% block title %}Grain: Calendar{% endblock title %}

{% block content %}
<h1>Calendar</h1>

<div class="row">
    <div class="col-md-9">
        <h3>{{ month|date:"F Y" }}
            <span class="pull-right">
                <div class="btn-group" role="group">
                    {% if previous_month %}
                    <a href="{% url 'grain:calendar' previous_month.year previous_month.month %}" role="button" class="btn btn-default">&laquo; {{ previous_month|date:"N" }}</a>
                    {% endif %}
                    {% if next_month %}
                    <a href="{% url 'grain:calendar' next_month.year next_month.month %}" role="button" class="btn btn-default">{{ next_month|date:"N" }} &raquo;</a>
                    {% endif %}
                </div>
            </span>
        </h3>
        {% calendar month object_list %}
    </div>
    <div class="col-md-3">
        <h3>Side column</h3>
        <p>Some filler text here: this will be the meal add form, as expected</p>
    </div>
</div>
{% endblock content %}
