{% extends "grain/base.html" %}
{% load bootstrap3 %}
{% load grain_extras %}

{% block content %}
<h1>{{ object.get_meal_type_display }}</h1>
<p>{{ object.time|date:"jS F Y" }}<br>
    <a href="{% url 'grain:calendar' object.time.year object.time.month %}">&laquo; Calendar</a>
</p>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Costs ({{ cost_total }})</h3>
            </div>
            <div class="panel-body">
                <p>
                    <span><em>confirmed</em> {{ object.cost_closed }}</span>
                    <span class="pull-right"><em>may reduce</em> {{ object.cost_open }}</span>
                </p>
                {% if cost_total %}
                <div class="progress" style="height: 1em;">
                    <div class="progress-bar progress-bar-success" style="width: {{ cost_pc_closed }}%;"></div>
                    <div class="progress-bar progress-bar-danger" style="width: {{ cost_pc_open }}%;"></div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <h2>Dishes</h2>
        {% dish_list object %}
    </div>
    <div class="col-md-3">
        <h2>Add dish</h2>
        <form method="post" action="{% url 'grain:dish_create' %}">
            {% csrf_token %}
            {% bootstrap_form dish_form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">Add</button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock content %}
