{% extends "grain/base.html" %}
{% load bootstrap3 %}
{% load grain_extras %}

{% block content %}
<h1>{{ object.get_meal_type_display }} <small>{{ object.time|date:"jS F Y" }}</small></h1>
<a href="{% url 'grain:calendar' object.time.year object.time.month %}" role="button" class="btn btn-link">&laquo; Calendar</a>
<a href="{% url 'grain:meal_delete' object.pk %}" role="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</a>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Costs ({{ cost_total }})</h3>
            </div>
            <div class="panel-body">
                {% if cost_total %}
                <p>
                    <span><em>confirmed</em> {{ object.cost_closed }}</span>
                    <span class="pull-right"><em>may reduce</em> {{ object.cost_open }}</span>
                </p>
                <div class="progress" style="height: 1em;">
                    <div class="progress-bar progress-bar-success" style="width: {{ cost_pc_closed }}%;"></div>
                    <div class="progress-bar progress-bar-danger" style="width: {{ cost_pc_open }}%;"></div>
                </div>
                {% else %}
                <p>-</p>
                {% endif %}
            </div>
        </div>
        <h2>Add dish</h2>
        <form method="post" action="{% url 'grain:dish_create' %}">
            {% csrf_token %}
            {% bootstrap_form dish_form %}
            {% buttons %}
            <div class="btn-group" role="group">
                {% for choice in choices %}
                <button type="submit" class="btn btn-default" name="_choice_{{ choice.0 }}">{{ choice.1 }}</button>
                {% endfor %}
            </div>
            {% endbuttons %}
        </form>
    </div>
    <div class="col-md-8">
        <h2>Dishes</h2>
        {% dish_list request object %}
    </div>
</div>
{% endblock content %}
