{% load radix_extras %}
{% load grain_extras %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header navbar-collapse collapse">
      <a class="navbar-brand" href="{% url 'radix:index' %}">Grain</a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
        <li class="{% nav_active request 'grain:index' %}"><a href="{% url 'grain:index' %}">Calendar</a></li>
        <li class="{% nav_active request 'grain:inventory grain:inventory_all' %}"><a href="{% url 'grain:inventory' %}">Inventory</a></li>
        <li class="{% nav_active request 'grain:product_list grain:vendor_list grain:category_list grain:unit_list' %} dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="{% nav_active request 'grain:product_list' %}"><a href="{% url 'grain:product_list' %}">Products</a></li>
            <li class="{% nav_active request 'grain:category_list' %}"><a href="{% url 'grain:category_list' %}">Categories</a></li>
            <li class="{% nav_active request 'grain:vendor_list' %}"><a href="{% url 'grain:vendor_list' %}">Vendors</a></li>
            <li class="{% nav_active request 'grain:unit_list' %}"><a href="{% url 'grain:unit_list' %}">Units</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-pawn" aria-hidden="true"></span> {% get_profile_name request.session.grain_active_user_profile %} <span class="caret"></span></a>
          {% get_profile_list request.user %}
        </li>
      </ul>
    </div>
  </div>
</nav>
