{% extends "grain/base.html" %}
{% load radix_extras %}

{% block title %}Grain: Units{% endblock %}

{% block content %}
<h1>Products</h1>

<div class="row">
  <ul class="nav nav-tabs">
    <li role="presentation" class="{% nav_active request 'grain:product_list' %}"><a href="{% url 'grain:product_list' %}" role="button" class="btn btn-link">Products</a></li>
    <li role="presentation" class="{% nav_active request 'grain:category_list' %}"><a href="{% url 'grain:category_list' %}" role="button" class="btn btn-link">Categories</a></li>
    <li role="presentation" class="{% nav_active request 'grain:vendor_list' %}"><a href="{% url 'grain:vendor_list' %}" role="button" class="btn btn-link">Vendors</a></li>
    <li role="presentation" class="{% nav_active request 'grain:unit_list' %}"><a href="{% url 'grain:unit_list' %}" role="button" class="btn btn-link">Units</a></li>
  </ul>

  <h2>Units{% if perms.grain.can_create_unit %} <a class="btn btn-primary" href="{% url 'grain:unit_create' %}" role="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</a>{% endif %}</h2>
  <div class="col-md-4">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <th>Unit</th>
          <th>Abbr.</th>
        </thead>
        <tbody>
          {% for unit in object_list %}
          <tr>
            <td>{{ unit.verbose }} ({{ unit.plural }})</td>
            <td><em>{{ unit.short }}</em></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
